#display{
  display:block;
  top:20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  border: 3px solid green;
  border-radius: 20px;
}
.btn{
  display: inline;
  border:1px solid gray;
  border-radius: 15px;
  background-color:rgb(144, 206, 224) ;
  padding:15px;
  font-family: 'Times New Roman', Times, serif;
}
.btn:hover{
  background-color:green;
 border:1px solid white
}
.btn:active{
  background-color:blue;
  visibility: inherit;
  font-family: 'Times New Roman', Times, serif;
}
#visibility{
  display:block;
  top:20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  border: 3px solid green;
  border-radius: 20px;
  visibility: visible;
}
.txt{
  padding: 15px;
  border-radius: 20px;
  border:3px solid blueviolet
}
#visibility:hover{
  visibility: inherit;
}
#position{
  position: -webkit-sticky;
  display:block;
  top:20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  border: 3px solid green;
  border-radius: 20px;
  visibility: visible;
}
#position{
  position: sticky;
}
.spn{
  display:inherit;
}
#bm{
  border:5px solid blanchedalmond;
  margin:20px;
  border-radius: 6px;
  left:12px;
  right: 12px;
  padding:12px;
  margin-top:24px ;
  margin-bottom: 24px;
  background-position: relative;
  background-color: red;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  -webkit-text-fill-color: yellow;
}
#bm:hover{
 background-color: transparent;

}